---
alwaysEmailList: ljohnson@dettonville.org
runInParallel: false
failFast: true

buildArgs:
  IMAGE_REGISTRY: media.johnson.int:5000

buildImageList:
  - buildImageName: "docker-jenkins"
    buildDir: "image/base"

  - buildImageName: "docker-jenkins-jcac"
    buildDir: "image/jcac"
    buildArgs:
      IMAGE_REGISTRY: media.johnson.int:5000
      BASE_IMAGE_LABEL: docker-jenkins
