name: Publish Docker Image

on:
  # Allows manual triggering
  workflow_dispatch:
  push:
    branches: ['*']
  pull_request:
    branches:
      - main
  schedule:
    ## Nightly Docker Image Rebuild (1:05am daily)
    - cron: '5 1 * * *'

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      ## ref: https://docs.github.com/en/actions/using-jobs/using-a-matrix-for-your-jobs
#      max-parallel: 2
      matrix:
        include:
          - docker-jenkins:
              name: docker-jenkins
              dockerfile: image/base/Dockerfile
              context: image/base
              tags: |-
                lj020326/docker-jenkins:latest
            docker-jenkins-jcac:
              name: docker-jenkins-jcac
              dockerfile: image/jcac/Dockerfile
              context: image/jcac
              tags: |-
                lj020326/docker-jenkins-jcac:latest

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: If the same workflow is already running from a previous commit, wait for it to finish
        uses: ahmadnassri/action-workflow-queue@v1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push ${{ matrix.docker-jenkins.name }}
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.docker-jenkins.context }}
          file: ${{ matrix.docker-jenkins.dockerfile }}
          build-args: IMAGE_REGISTRY=${{ github.repository_owner }}
          push: true
          tags: ${{ matrix.docker-jenkins.tags }}
          labels: |
            maintainer=${{ github.repository_owner }}
            org.opencontainers.image.vendor=${{ github.repository_owner }}
            org.opencontainers.image.revision=${{ github.sha }}

      - name: Build and push ${{ matrix.docker-jenkins-jcac.name }}
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.docker-jenkins-jcac.context }}
          file: ${{ matrix.docker-jenkins-jcac.dockerfile }}
          build-args: IMAGE_REGISTRY=${{ github.repository_owner }}
          push: true
          tags: ${{ matrix.docker-jenkins-jcac.tags }}
          labels: |
            maintainer=${{ github.repository_owner }}
            org.opencontainers.image.vendor=${{ github.repository_owner }}
            org.opencontainers.image.revision=${{ github.sha }}
